@model IEnumerable<Project>

@{
    var count = 1;
}

<table class="table">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Github link</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@(count++)</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.GithubLink</td>
            <td class="td-actions text-right">
                <a type="button" rel="tooltip" class="btn btn-danger" asp-controller="Project" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a type="button" class="btn btn-primary btn-sm" asp-controller="Project" asp-action="Create"><span class="bi-plus-square-fill"></span>&nbsp;Add</a>