@model Trackable

<h1>@Model.Name</h1>
<h3>@Model.Description</h3>
<h3>@Model.Project.Name</h3>
<h3>@Model.Status</h3>
<h3>@Model.TrackType</h3>

<a type="button" class="btn btn-primary btn-sm" asp-controller="Trackable" asp-action="Edit" asp-route-id="@Model.Id"><span class="bi bi-bag-x"></span>&nbsp;Edit</a>
