@model BugTrackerWebApp.ViewModels.TrackBoxViewModel


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-6">
        <div class="card text-center shadow-success">
          <h2 class="card bg-success shadow-success text-white p-3 mb-4">@Model.Trackable.Name</h2>
          <h3 class="card-title mb-3">@Model.Trackable.Project.Name</h3>
          <p class="text-muted">@Model.Trackable.LeadEmail</p>
          <div class="row justify-content-center mt-2">
            <p class="col-5 text-decoration-underline mb-0">Status</p>
            <p class="col-5 text-decoration-underline mb-0">Date Created</p>
          </div>
          <div class="row justify-content-center mt-2">
            <p class="col-5">@Model.Trackable.Status</p>
            <p class="col-5">@Model.Trackable.DateCreated</p>
          </div>
          <div class="card-body">
            <h6 class="text-secondary">@Model.Trackable.Description</h6>
          </div>
          <div class="card-footer text-muted">
            <div class="row justify-content-around">
              <a class="btn btn-outline-success col-3" asp-action="Edit" asp-route-id="@Model.Trackable.Id">Edit</a>
              <a class="btn btn-outline-success col-3" asp-action="QuickCheck" asp-route-id="@Model.Trackable.Id">Complete</a>
              <a class="btn btn-outline-danger col-3" asp-action="Delete" asp-route-id="@Model.Trackable.Id">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>