@model IEnumerable<Trackable>

@{
    var count = 1;
}

<table class="table">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th>Name</th>
        <th>Project</th>
        <th>Type</th>
        <th>Status</th>
        <th>Lead dev</th>
        <th class="text-right">Actions</th>
        <th>Quick Check</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@(count++)</td>
            <td>@item.Name</td>
            <td>@item.Project.Name</td>
            <td>@item.TrackType</td>
            <td>@item.Status</td>
            <td>@item.AppUser</td>
            <td class="td-actions text-right">
                <a type="button" rel="tooltip" class="btn btn-info" asp-controller="Trackable" asp-action="Detail" asp-route-id="@item.Id">
                    <i class="material-icons">info</i>
                </a>
                <a type="button" rel="tooltip" class="btn btn-warning" asp-controller="Trackable" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="material-icons">edit</i>
                </a>
                <a type="button" rel="tooltip" class="btn btn-danger" asp-controller="Trackable" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="material-icons">delete</i>
                </a>
            </td>
            <td>
                <a type="button" rel="tooltip" class="btn btn-success" asp-controller="Trackable" asp-action="QuickCheck" asp-route-id="@item.Id">
                    <i class="material-icons">check</i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a type="button" class="btn btn-primary btn-sm" asp-controller="Trackable" asp-action="Create"><span class="bi-plus-square-fill"></span>&nbsp;Add</a>